* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Courier Prime', monospace;
}

body {
    background-color: wheat
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.card {
    cursor: pointer;
    width: 340px;
    height: 480px;
}

.front, .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    overflow: hidden;
    transition: transform 0.6s;
}

.front img {
    height: 100%;
}

.front {
    transform: perspective(600px) rotateY(0deg);
}

.back {
    background-color: white;
    transform: perspective(600px) rotateY(180deg);
}

.back-content {
    color: goldenrod;
    text-align: center;
    width: 100%;
}

.sm {
    margin: 2rem 0;
}


.sm a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.1rem;
    height: 2.1rem;
    font-size: 1.1rem;
    color: black;
    transition: 0.4s;

}

.sm a:hover {
    background-color: black;
    color: white;
    border-radius: 50%;
}

.card:hover > .front {
    transform: perspective(600px) rotateY(-180deg);
}

.card:hover > .back {
    transform: perspective(600px) rotateY(0deg);
}
